In [1]:
import pandas as pd
import numpy as np
from IPython.display import display as dp

In [2]:
df= pd.read_csv('ventas.csv')

In [3]:
dp(df)

,id_venta,fecha,producto,categoria,costo_unitario,precio_unitario,cantidad,cliente,pais
0,1,5/6/2025,Mochila,Accesorios,7,29.75,3,Lucía López,Colombia
1,2,2/14/2025,Mochila,Accesorios,13,39.67,5,Isabella González,Mexico
2,3,1/14/2025,Monitor,Electrónicos,45,135.70,5,Miguel Hernández,USA
3,4,3/23/2025,Taza,Hogar,4,8.52,1,Isabella Pérez,Mexico
4,5,2/22/2025,Monitor,Electrónicos,52,184.61,3,Carlos Gómez,Mexico
...,...,...,...,...,...,...,...,...,...
215,216,9/17/2025,Camiseta,Ropa,5,14.16,1,Ana Pérez,Peru
216,217,3/20/2025,Boligrafo,Oficina,1,1.29,4,Sofía López,Argentina
217,218,8/13/2025,Smartwatch,Electrónicos,51,129.74,2,Ana Gómez,USA
218,219,5/26/2025,Cargador,Electrónicos,1,10.88,4,Hugo Martínez,Spain
219,220,4/10/2025,Camiseta,Ropa,1,14.81,4,Camila Jiménez,Chile

In [5]:
df=df.drop("id_venta", axis=1)

In [6]:
dp(df)

,fecha,producto,categoria,costo_unitario,precio_unitario,cantidad,cliente,pais
0,5/6/2025,Mochila,Accesorios,7,29.75,3,Lucía López,Colombia
1,2/14/2025,Mochila,Accesorios,13,39.67,5,Isabella González,Mexico
2,1/14/2025,Monitor,Electrónicos,45,135.70,5,Miguel Hernández,USA
3,3/23/2025,Taza,Hogar,4,8.52,1,Isabella Pérez,Mexico
4,2/22/2025,Monitor,Electrónicos,52,184.61,3,Carlos Gómez,Mexico
...,...,...,...,...,...,...,...,...
215,9/17/2025,Camiseta,Ropa,5,14.16,1,Ana Pérez,Peru
216,3/20/2025,Boligrafo,Oficina,1,1.29,4,Sofía López,Argentina
217,8/13/2025,Smartwatch,Electrónicos,51,129.74,2,Ana Gómez,USA
218,5/26/2025,Cargador,Electrónicos,1,10.88,4,Hugo Martínez,Spain
219,4/10/2025,Camiseta,Ropa,1,14.81,4,Camila Jiménez,Chile

In [ ]:
with pd.ExcelWriter("formateado.xlsx", engine="xlsxwriter") as writer:
    df.to_excel(writer, sheet_name="Hoja1", index=False)

    workbook  = writer.book
    worksheet = writer.sheets["Hoja1"]

    # Formatos
    formato_entero = workbook.add_format({"num_format": "0"})
    formato_float  = workbook.add_format({"num_format": "0.00"})
    formato_fecha  = workbook.add_format({"num_format": "yyyy-mm-dd"})

    # Aplicar formatos a columnas (columna A=0, B=1, etc.)
    worksheet.set_column("A:A", 10, formato_entero)  # Enteros
    worksheet.set_column("B:B", 12, formato_float)   # Flotantes
    worksheet.set_column("D:D", 15, formato_fecha)   # Fechas

In [11]:
with pd.ExcelWriter("Ventas_formateadas.xlsx", engine="xlsxwriter") as ventas:
    df.to_excel(ventas, sheet_name="Ventas", index=False)

    libro = ventas.book
    hoja = ventas.sheets["Ventas"]

    fdate  = libro.add_format({"num_format": "yyyy-mm-dd"})

    hoja.set_column("A:A",15, fdate)

In [13]:
df.isna().sum()

fecha              0
producto           0
categoria          0
costo_unitario     0
precio_unitario    0
cantidad           0
cliente            0
pais               0
dtype: int64